# Backend API Base URL
# For Local Development:
VITE_API_URL=backend url update on.env file

# For Production (Vercel deployment pointing to Render backend):
# VITE_API_URL=https://your-recipe-api.onrender.com/api

